*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}

html{
    font-size: 62.5%;
}

body,html{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    width: 87.5rem;
    height: 49.8rem;
    background-color: #D9CDF7;
    border-radius: 9.6px;
}

.heading{
    margin-bottom: 2rem;
}

.productCode{
    font-size: 1rem;
    font-weight: 300;
    line-height: 100%;
}

h1{
    font-family: 'Crimson Pro', serif;
    font-size: 3.2rem;
    margin: 1.2rem 0rem;
    color: rgb(39, 26, 69);
}

.productPrice{
    font-size: 1.6rem;
    font-weight: 400;
}

.productCode, .productPrice{
    color: rgba(39, 26, 69, 0.75);
}

button{
    padding: 0.8rem 1.6rem;
    border: 1px solid #271A45;
    border-radius: 100px;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 400;
    color: #271A45;
    text-align: center;
}

button:hover{
    background-color: #271A45;
    color: #D9CDF7;
    transition: 0.7s;
}

.description{
    margin: -3.2rem 13.2rem 0rem 1.3rem;
}

.product{
    width: 44.9rem;
    position: relative;
    overflow: hidden;
}

.icon360deg{
    position: absolute;
    right: 50px;
}

.imgProduct{
    bottom: 0px;
    width: 44.9rem;
    height: 22.3rem;
}